table {
	margin-left: 2em;
}

li {
	padding: .05em 0;
}

h3 {
	border-bottom: 1px solid black;
}

.title { 
	font-style: italic; 
	font-weight: none;
	display: inline-block;
}

.date {
	font-style: italic; 
}


.right-info {
	float: right;
	clear: right;
	text-align: right;
}

.section-list {
	margin-left: 2em;
}

.no-bullets {
    list-style-type: none;
}

.bullets {
    list-style-type: initial;
    margin-left:1.3em;
}

.bullets li {
    text-indent: 0;
}

.table-header {
    width: 7em;
    font-weight: bold;
    vertical-align: text-top;
}

@media screen and (max-width: 590px) {
    .right-info {
    	float: none;
    	text-align: left;
    }
}