<nav>
	<% for (var navLink in navLinks) { %>
		<a href="<%= navLinks[navLink] %>" class="button"><%= navLink %></a>
	<% } %>
	
	<div style="display:inline-block">
		<a href="https://www.linkedin.com/in/wtglover" target="_blank" rel="noopener noreferrer" class="svgbutton"><img src="images/linkedin.svg" alt="Twitter"></a>
		<a href="https://github.com/wtglover" target="_blank" rel="noopener noreferrer" class="svgbutton"><img src="images/github.svg" alt="GitHub"></a>
		<a href="https://twitter.com/wtglover" target="_blank" rel="noopener noreferrer" class="svgbutton"> <img src="images/twitter.svg" alt="Twitter"></a>
		<a href="mailto:william.glover@tufts.edu" target="_blank" rel="noopener noreferrer" class="svgbutton"> <img src="images/mail.svg" alt="Email"></a>
	</div>
</nav>