button {
	background-color: #48ad43;
	padding: 1em 3em;
	border: none;
	border-radius: 10px;
	margin: .3em;
	color: white;
}

button:hover {
	cursor: pointer;
	background-color: #61bc5c;
}

.nameField, .emailField {
	width: 45%;
	height: 3em;
	box-sizing: border-box;
	vertical-align: middle;
}

.invalid-input {
	background-color: #fc5a5a; 
}

.delete {
	width: 5%;
	height: 100%;
	margin: .3em;
	vertical-align: middle;
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

#user-container {
	margin: 1em 0;
	text-align: center;
}

#btn-container {
	text-align: right;
}