$font-color: #262626;
$body-background-color: #FFFAF5;
$accent-green: #2D7254;
$link-color: #00185E;
$darkgray: #808080;


/* START SOCIAL CONTACT COLORS */
$twitter-color: #00aced;
$twitter-background-color: #c0deed;

$instagram-color: #e4405f;
$instagram-background-color: #FFB5C3;

$linkedin-color: #007bb6;
$linkedin-background-color: #9BDAF3;

$github-color: #333;
$github-background-color: #999;

$email-color: $accent-green;
$email-background-color: #8CBFA9
/* END SOCIAL CONTACT COLORS */
