@import "base";

header {
  background-image: url("/images/headshot.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  opacity: 0.75;
  div {
    position: absolute;
    bottom: 10;
    background-color: red;
  }
}

$section-padding-bottom: 200px;
$section-padding-right: 100px;
$section-padding-right-min: 25px;

#container {
  position: relative;
  margin: 30px $contact-aside-width 0 10px;
  // animation: fadeInUp 1s;
}

#main-content {
  position: relative;
  padding: 0 10px;
  max-width: 1000px;
  margin: 0 auto;
  .content-section {
    display: flex;
    .title {
      flex: 1;
      padding: 0 60px 5px 0;
      color: $accent-green;
      text-align: right;
    }
    .content {
      flex: 5;
    }
  }
}

.project {
  h3 {
    margin-bottom: 5px;
    font-weight: 400;
  }
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

#main-content section {
  padding: 0 $section-padding-right $section-padding-bottom 0;
}

#resume-link {
  text-align: right;
  margin: 50px 100px 0 0;
}

#resume-prompt {
  width: 110%;
  text-align: center;
  &:after {
    transition: all .2s ease-in-out;
  }
  &:hover {
    transition: color .2s ease-in-out .15s;
    color: white;
    &:after {
      height: 100%;
      top: 0;
    }
  }
}

#skills {
  width: 80%;
  margin: 0 auto;
  p {
    margin: 0;
  }
}

@media screen and (max-width: 1350px) {
  #main-content section {
    padding-right: $section-padding-right-min;
  }
}


@media screen and (max-width: $contact-aside-max-width) {
  #container {
    margin: 30px auto 0 auto;
  }
  #main-content .content-section {
    display: block;
    padding-left: 0;
    padding-right: 0;
    .title {
      text-align: left;
    }
  }
}
