@import "base";

header {
  background-image: url("/images/headshot.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  opacity: 0.75;
  div {
    position: absolute;
    bottom: 10;
    background-color: red;
  }
}

#container {
  position: relative;
  margin: 30px $contact-aside-width 0 10px;
  animation: fadeInUp 1s;
  #main-content {
    position: relative;
    padding: 0 10px;
    max-width: 1000px;
    margin: 0 auto;
    section {
      padding: 0 0 125px 100px;
      display: flex;
      .title {
        flex: 1;
        padding: 0 60px 5px 0;
        color: $accent-green;
        text-align: right;
      }
      .content {
        flex: 5;
        &.skills {
          width: 80%;
          margin: 0 auto;
          h3 {
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $contact-aside-max-width) {
  #container {
    margin: 30px auto 0 auto;
    #main-content section {
      display: block;
      padding-left: 0;
      .title {
        text-align: left;
      }
    }
  }
}
