<%- include('../partials/header', {
  title: "Drag Example",
  page: "dragexample",
  metaDescription: "Example program for dragging elements around a page or grid using Javascript",
  metaKeywords: "drag, demo, javascript",
}) %>

<%- include ../partials/secondpage-header %>

<div id="main-content">
  <h2>Drag Example</h2>
  <p>Demo for learning how to implement dragging elements around a page. Also my first experimentation with web components. Written using vanilla Javascript.</p>

  <div id="canvas-container">
    <draggable-canvas id="canvas"></draggable-canvas>
  </div>

  <button id="addElementButton">Add Element</button>

  <%- include ../partials/contactaside %>
</div>

<%- include ../partials/footer.ejs %>
