<%- include('../partials/header', {
  page: "index",
	metaDescription: "Personal site for Toby Glover, student at Tufts University's School of Engineering"
}) %>

<header>
  <div id="opacity"/>
  <div id="header-content-container">
    <div id="header-content">
      <h1>Toby Glover</h1>
      <br/>
      <h2>Product Focused Front-End Software Engineer</h2>
    </div>
  </div>

</header>

<div id="main-content">
  <div id="content-container">
    <section class="content-section">
      <h2 class="title">About Me</h2>
      <div class="content">
        <p>I focus on developing products in terms the rest of the world can understand. Whether it's on web or mobile, the satisfaction of creating unobtrusive interfaces to advanced systems is palpable. It is this act of creation that pushes me to keep working hard to develop my skills in this field.</p>
        <p>I started my career at 18 working for <a class="underline" target="_blank" rel="noopener noreferrer" href="https://switch.tv">Switch Media</a> in Sydney, Australia, where I had many roles including Support Engineer, DevOps, and Web Developer. This combination exposed me to all parts of the web stack and showed me the process of developing features with the customer in mind.</p>
        <p>I am now a Senior at Tufts University studying Computer Science with a minor in Entrepreneurial Leadership Studies. Most recently I interned with <b>Instagram</b>'s Developer Velocity team where I focused on redesigning the frontend for a webapp used by developers across the organisation. In the previous summer, I worked with the Lead Ads Product team at <b>Facebook</b>. While there, I defined a new architecture to allow for further extensibility in their Android codebase and introduced new product features across their entire platform including web, Android, and iOS.</p>
        <p>When I'm not working on mobile and web applications, I like to spend my time being active outside. You can usually find me running, hiking, or playing ultimate frisbee. I also enjoy other creative outlets including photography.</p>
        <div id="resume-link">
          <a target="_blank" href="resume.pdf" class="right-arrow-after">
            <span id="resume-prompt" class="underline">See My Resume</span>
          </a>
        </div>
      </div>
    </section>

    <section class="content-section">
      <h2 class="title">Skills</h2>
      <div id="skills" class="content row">
        <span>
          <h3>Languages</h3>
          <p>JavaScript</p>
          <p>HTML</p>
          <p>CSS/SASS</p>
          <p>Java</p>
          <p>Python</p>
          <p>C/C++</p>
          <p>PHP</p>
        </span>
        <span class="col">
          <h3>Frameworks</h3>
          <p>React</p>
          <p>React Native</p>
          <p>Redux</p>
          <p>Node</p>
          <p>Express</p>
          <p>Postgres</p>
          <p>MongoDb</p>
        </span>
        <span class="col">
          <h3>Tools</h3>
          <p>Bash</p>
          <p>Webpack</p>
          <p>Git &amp; Github</p>
          <p>Apache</p>
          <p>SVN</p>
          <p>Android Studio</p>
        </span>
      </div>
    </section>

    <section class="content-section">
      <h2 class="title">Work Experience</h2>
      <div class="content">
        <div class="position">
          <div class="info">
            <div class="maininfo">
              <h3 class="company">Tufts University</h3>
              <div class="date">January 2019 - Present</div>
            </div>
            <div class="subinfo">
              <div class="job-title">Teaching Assitant, Networks</div>
              <div class="location">Medford, MA</div>
            </div>
          </div>
          <p class="position-desc">Wrote the first assignment for the class which required students to build a reliable HTTP proxy with a cache. Developed the test scripts to grade the students' submissions and lead class sessions to expose students to the network functions available in C.</p>
        </div>
        <div class="position">
          <div class="info">
            <div class="maininfo">
              <h3 class="company">Instagram</h3>
              <div class="date">May 2018 - August 2018</div>
            </div>
            <div class="subinfo">
              <div class="job-title">Software Engineering Intern, Developer Velocity</div>
              <div class="location">New York, NY</div>
            </div>
          </div>
          <p class="position-desc">Redesigned the team's webapp for managing A/B tests across the company from the ground up to be more modern and extensible. Introduced new diagnostic tooling in the webapp for developers to debug their experiments more quickly.</p>
        </div>
        <div class="position">
          <div class="info">
            <div class="maininfo">
              <h3 class="company">Facebook</h3>
              <div class="date">May 2017 - August 2017</div>
            </div>
            <div class="subinfo">
              <div class="job-title">Software Engineering Intern, Lead Ads Product</div>
              <div class="location">Menlo Park, CA</div>
            </div>
          </div>
          <p class="position-desc">Refactored a large portion of the product's Android codebase to make it more extensible and maintainable. I then used these changes to build new features on both Androud and on the web. I concluded my internship by performing A/B tests on these features to make meaningful product decisions leading up to their launch.</p>
        </div>
        <div class="position">
          <div class="info">
            <div class="maininfo">
              <h3 class="company">Tufts University</h3>
              <div class="date">September 2017 - May 2018</div>
            </div>
            <div class="subinfo">
              <div class="job-title">Teaching Assitant, Web Programming</div>
              <div class="location">Medford, MA</div>
            </div>
          </div>
          <p class="position-desc">Held office hours to help students grasp fundamental concepts in web development, such as the client-server model, asynchronous tasks, and database systems. I also reviewed student code to offer improvements and check for functional correctness.</p>
        </div>
        <div class="position">
          <div class="info">
            <div class="maininfo">
              <h3 class="company">Switch Media</h3>
              <div class="date">October 2015 - May 2016</div>
            </div>
            <div class="subinfo">
              <div class="job-title">Application Architect and Developer</div>
              <div class="location">Medford, MA</div>
            </div>
          </div>
          <p class="position-desc">Designed and built Presto, an Australian video on demand service similar to Hulu, for the Roku streaming platform on a remote, contract basis. Performed code reviews on the two other members of development team.</p>
        </div>
        <div class="position">
          <div class="info">
            <div class="maininfo">
              <h3 class="company">Switch Media</h3>
              <div class="date">September 2014 - May 2015</div>
            </div>
            <div class="subinfo">
              <div class="job-title">Support Engineer and Web Developer</div>
              <div class="location">Sydney, Australia</div>
            </div>
          </div>
          <p class="position-desc">First point of contact for clients including Foxtel, the largest cable company in Australia. Used this knowledge of client needs to build custom web tools using PHP, HTML, and JavaScript. As part of my role in DevOps, I also wrote server-side scripts to analyze internal workflow data stored in MySQL databases and determine bottlenecks.</p>
        </div>
        <div class="position">
          <div class="info">
            <div class="maininfo">
              <h3 class="company">Washington &amp; Lee University</h3>
              <div class="date">September 2013 – March 2014</div>
            </div>
            <div class="subinfo">
              <div class="job-title">Intern in Sound Engineering Studio</div>
              <div class="location">Lexington, VA</div>
            </div>
          </div>
          <p class="position-desc">Built amplifiers and other recording equipment for the sound engineer at the university. Was also sent as the sole engineer for various recording sessions, both in the studio and live.
          </p>
        </div>
      </div>
    </section>

    <section class="content-section">
      <h2 class="title">Projects</h2>
      <div class="content">
        <div class="project">
      		<h3>This Website</h3>
  				<p>As a student of modern web development, its easy to choose advanced frameworks like React before tackling the basics. This website is my way of conquering the fundamentals, and is written in vanilla Javascript without any dependencies. For interested parties, the <a class="underline" target="_blank" href="https://www.github.com/wtglover/tobyglover.com">source is available</a>.</p>
        </div>
        <div class="project">
      		<h3>BarBud</h3>
  				<p>Native mobile application that allowed users to order drinks straight from their phone and skip the line at the busy bar. Payment was handled for the bars, meaning the user could keep having fun and wait for the push notification that their drinks were ready to get picked up!</p>
  				<p>Written fully in React Native and using Redux, BarBud was available on both iOS and Android. Because it is no longer in active development, the source for the app is <a class="underline" href="https://github.com/wtglover/barbud-app" target="_blank">available here.</a></p>
        </div>
        <div class="project">
          <a target="_blank" href="http://wikilinks.io">
            <h3 class="right-arrow-after">WikiLinks</h3>
          </a>
    			<p>This is the 6 Degrees of Wikipedia game ported into its own webapp. My first foray into sigle-load webapps with React and AJAX, including server-side rendering of React components.</p>
        </div>
        <div class="project">
          <a target="_blank" href="https://github.com/wtglover/DejaView">
            <h3 class="right-arrow-after">DejaView</h3>
          </a>
    			<p>Written during Tufts Polyhack, DejaView, was a service that allowed anyone to create private and anonymous photo albums where any user with the access code could upload and view full-resolution photos. We reached the finals during the event, producing native Android and iOS applications, a webapp, and a fully-functional backend.</p>
        </div>
        <div class="project">
          <a target="_blank" href="https://github.com/wtglover/twocentsapp-backend">
            <h3 class="right-arrow-after">TwoCents</h3>
          </a>
    			<p>Part of a semester long project for an mobile development course, this Android application allowed users to anonymously post questions for other users in their area to vote on the answer or solution.</p>
        </div>
      </div>
    </section>

    <section class="content-section">
      <h2 class="title">Widgets and Experiments</h2>
      <div class="content">
        <div class="project">
          <a href="projects/sudoku">
      			<h3 class="right-arrow-after">Sudoku Solver</h3>
          </a>
  				<p>An independent experiment while taking an artificial intelligence course at Tufts, this widget solves Sudoku puzzles using a combination of constraint satisfaction problems, pre-emptive sets, and other AI techniques.</p>
        </div>
        <div class="project">
          <a href="projects/dragexample">
      			<h3 class="right-arrow-after">Drag Demo</h3>
          </a>
          <p>Demo for learning how to implement dragging elements around a page. Also my first experimentation with web components.</p>
        </div>
        <div class="project">
          <a href="projects/secretsanta">
            <h3 class="right-arrow-after">Secret Santa</h3>
          </a>
    			<p>A tradition in my family is to fill each other's stockings secret santa style. This simple service emails a group of users their secret santa assignments, helping us keep the suspense going even though we no longer live in the same part of the country.</p>
        </div>
      </div>
    </section>
  </div>
  <%- include ../partials/contactaside %>
</div>

<%- include ../partials/footer %>
