<%- include('../partials/header-navbar.ejs', {
	title: "Page Not Found",
	metaDescription: "Page does not exist"
}) %>

<div class="main-content">
	<p id="PageNotFound">Sorry, this page does not exist. <a href="/" class="link">Click here</a> to navigate back home.</p>
</div>

<%- include ../partials/footer.ejs %>