<%- include ../partials/header-navbar.ejs %>

<div class="main-content">
	<a class="project" target="_blank" href="http://wikilinks.io">
		<p class="link">WikiLinks</p>
		<p>The 6 Degrees of Wikipedia game, ported into its own webapp. Experiment in React and AJAX to produce a single-load game, with server-side rendering of React components.</p>
	</a>
	<a class="project" target="_blank" href="https://github.com/wtglover/DejaView">
		<p class="link">DejaView</p>
		<p>Service that allowed anyone to create private and anonymous photo albums where any user with the access code could upload and view full-resolution photos.</p>
	</a>
	<a class="project" target="_blank" href="https://github.com/wtglover/twocentsapp-backend">
		<p class="link">TwoCents</p>
		<p>Android application where users could anonymously post questions for others in their area to vote on the answer or solution</p>
	</a>
	<a class="project" href="projects/secretsanta">
		<p class="link">Secret Santa</p>
		<p>Simple service that emails a group of users their secret santa assignments</p>
	</a>
</div>

<%- include ../partials/footer.ejs %>