<%- include('../partials/header-navbar.ejs', {
    title: "Resume",
    metaDescription: "Resume for Toby Glover, Computer Science major in Tufts University's School of Engineering",
    metaKeywords: "resume",
    extensions: ['<link rel="stylesheet" href="/styles/resume.css" type="text/css">']
}) %>

<div class="main-content">

    <h2>Resume</h2>
    <p>(<a href="resume.pdf" class="link" target="_blank">PDF version</a>)</p>

    <h3>Education</h3>
    <ul class="no-bullets section-list">
        <li class="subsection"><h4>Tufts University School of Engineering</h4>
            <span class="right-info">
                <p class="date">Expected December 2018</p>
                <p class="location">Medford, MA</p>
            </span>
            <div class="info">
                <ul class="no-bullets">
                    <li>B.S. in Computer Science</li>
                    <li>Minor in Entrepreneurship and Leadership Studies</li>
                    <li>GPA: 3.57 / 4.0, Dean’s List (Fall 2015 - Present)</li>
                    <li style="font-style: italic;">Relavent course work: Data Structures, Algorithms, Machine Structures and Assembly Language Programming, Computation Theory, Artificial Intelligence, Web Programming, Android Mobile Development, Calculus</li>
                </ul>
            </div>
        </li>

        <li class="subsection"><h4>Rockbridge County High School</h4>
            <span class="right-info">
                <p class="date">August 2010 – June 2014</p>
                <p class="location">Lexington, VA</p>
            </span>
            <div class="info">
                <div>Advanced Studies Diploma. GPA: 3.95 / 4.0</div>
            </div>
        </li>
    </ul>

    <h3>Work Experience</h3>
    <ul class="no-bullets section-list">

        <li class="subsection"><h4>Facebook</h4>
            <span class="right-info">
                <p class="date">May - August 2017 (12 weeks)</p>
                <p class="location">Menlo Park, CA</p>
            </span>
            <div class="info">
                <p class="title">Software Engineering Intern, Lead Ads Product</p>
                <ul class="bullets">
                    <li>Refactored majority of product's Android codebase to make it more extensible and maintainable. Used these changes to build new features that would have otherwise been impossible</li>
                    <li>Analyzed data from A/B tests to make meaningful product decisions</li>
                    <li>Built new client-facing tools in Ads Manager using React</li>
                </ul>
            </div>
        </li>

        <li class="subsection"><h4>Switch Media</h4>
        <span class="date right-info">September 2014 - May 2016</span>
        <div style="margin-bottom:.5em;">Australia’s industry leader in storing, encoding, and distributing live and on-demand video content</div>

        <ul class="no-bullets section-list">

            <li><p class="title">Application Architect and Developer</p>
            <span class="right-info">
                <p class="date">October 2015 - May 2016</p>
                <p class="location">Medford, MA</p>
            </span>
            <ul class="bullets">
                <li>Designed and built Presto, an Australian video on demand service similar to Hulu, for the Roku streaming platform on contract basis</li>
                <li>Performed code reviews on the two other members of development team</li>
            </ul></li>
            
            <li><p class="title">Support Engineer and Back-End Programmer</p>
            <span class="right-info">
                <p class="date">September 2014 - May 2015</p>
                <p class="location">Sydney, Australia</p>
            </span>
            <ul class="bullets">
                <li>First point of contact for clients including Foxtel, the largest cable company in Australia</li>
                <li>Sole on-site representative of Switch Media to provide support to Yahoo! 7 at the Australian Open Tennis Tournament in Melbourne, where Switch provided live streams for all 14 courts</li>
                <li>Built custom internal and client-facing web tools using PHP, HTML, JavaScript</li>
                <li>Wrote server-side scripts to analyze internal workflow data and determine bottlenecks</li>
            </ul></li>

        </ul></li>

        <li class="subsection"><h4>Tufts University</h4>
            <span class="right-info">
                <p class="date">September 2017 - Present</p>
                <p class="location">Somerville, MA</p>
            </span>
            <div class="info">
                <p class="title">Teaching Assistant - Web Programming</p>
                <ul class="bullets">
                    <li>Helped students grasp concepts such as the client-server model, asynchronous tasks, and database systems</li>
                    <li>Reviewed student code for both improvements and functional correctness</li>
                    <li>Held office hours</li>
                </ul>
            </div>
        </li>

        <li class="subsection"><h4>Camp Foley</h4>
            <span class="right-info">
                <p class="date">June - August 2016 (9 weeks)</p>
                <p class="location">Pine River, MN</p>
            </span>
            <div class="info">
                <p class="title">Camp Counselor and Trip Leader</p>
                <ul class="bullets">
                    <li>Planned and executed events for approximately 160 people</li>
                    <li>Taught high-risk activities including archery and rock climbing</li>
                </ul>
            </div>
        </li>

        <li class="subsection"><h4>Washington &amp; Lee University</h4>
            <span class="right-info">
                <p class="date">September 2013 – March 2014</p>
                <p class="location">Lexington, VA</p>
            </span>
            <div class="info">
                <p class="title">Intern in Sound Engineering Studio</p>
                <ul class="bullets">
                    <li>Built amplifiers and other recording equipment</li>
                    <li>Sole engineer on various recording sessions, both in the studio and live</li>
                </ul>
            </div>
        </li>

    </ul>

    <h3>Skills</h3>
    <table>
        <tr>
            <td class="table-header">Languages</td>
            <td>BrightScript, C/C++, PHP, HTML, CSS, JavaScript, Python, Java, LaTex</td>
        </tr>
        <tr>
            <td class="table-header">Frameworks</td>
            <td>Django, Node, MySQL, MongoDb</td> 
        </tr>
        <tr>
            <td class="table-header">Tools</td>
            <td>Unix, Apache, Git &amp; Github, SVN, Android Studio</td> 
        </tr>
    </table>

    <h3>Extracurricular Activities</h3>
    <ul class="no-bullets section-list">
        <li><b>Tufts Marathon Team</b></li>
        <li><b>Tufts Ultimate Team</b></li>
        <li><b>Tufts Mountain Club</b></li>
    </ul>
</div>

<%- include ../partials/footer.ejs %>
