<%- include ../partials/header-navbar.ejs %>

<div class="main-content">

    <h2>Secret Santa</h2>

    <p>Simple service that emails a group of users their secret santa assignments, using a derangement algorithm to ensure a user will not get themself</p>

    <div id="user-container"></div>

    <div id="btn-container">
        <button id="addUserButton">Add User</button>
        <button id="sendButton">Send</button>
    </div>

</div>

<%- include ../partials/footer.ejs %>