<%- include('../partials/header', {
  title: "Secret Santa",
  page: "secretsanta",
	metaDescription: "Service that emails a group of users each of their secret santa assignments",
	metaKeywords: "secret santa",
}) %>

<%- include ../partials/secondpage-header %>

<div id="main-content">
  <h2>Secret Santa</h2>
  <p>Simple service that emails a group of users each of their secret santa assignments, using a derangement algorithm to ensure a user will not get themself</p>
  <div id="user-container"></div>
  <div id="btn-container">
    <button id="addUserButton">Add User</button>
    <button id="sendButton">Send</button>
  </div>
  <%- include ../partials/contactaside %>
</div>

<%- include ../partials/footer %>
