<%- include('../partials/header-navbar.ejs', {
	title: "Secret Santa",
	metaDescription: "Service that emails a group of users each of their secret santa assignments",
	metaKeywords: "secret santa",
	extensions: ['<link rel="stylesheet" href="/styles/secretsanta.css" type="text/css">',
			     '<script type="text/javascript" src="/scripts/secretsanta.js"></script>']
}) %>

<div class="main-content">

    <h2>Secret Santa</h2>

    <p>Simple service that emails a group of users each of their secret santa assignments, using a derangement algorithm to ensure a user will not get themself</p>

    <div id="user-container"></div>

    <div id="btn-container">
        <button id="addUserButton">Add User</button>
        <button id="sendButton">Send</button>
    </div>

</div>

<%- include ../partials/footer.ejs %>