<%- include ../partials/header-navbar.ejs %>

<div class="main-content">

    <h2>Sudoku Solver</h2>

    <div id="board"></div>

    <button id="submit">Submit</button>

    <div id="loading">
    	<div>
    		<img src="/images/spinner.gif" alt="loading spinner"/>
    		<h4>processing...</h4>
    	</div>
    </div>

</div>

<%- include ../partials/footer.ejs %>