<aside id="contact">
  <div class="container">
    <div class="item-container" id="twitter">
      <a href="https://twitter.com/wtglover" target="_blank" rel="noopener noreferrer">
        <img src="/images/twitter.svg" alt="Twitter">
        <span>@wtglover</span>
      </a>
    </div>
    <div class="item-container" id="instagram">
      <a href="https://www.instagram.com/glovertobias/" target="_blank" rel="noopener noreferrer">
        <img src="/images/instagram.png" alt="Instagram">
        <span>@glovertobias</span>
      </a>
    </div>
    <div class="item-container" id="linkedin">
      <a href="https://www.linkedin.com/in/wtglover" target="_blank" rel="noopener noreferrer">
        <img src="/images/linkedin.svg" alt="LinkedIn">
        <span>/in/wtglover</span>
      </a>
    </div>
    <div class="item-container" id="github">
      <a href="https://github.com/wtglover" target="_blank" rel="noopener noreferrer">
        <img src="/images/github.svg" alt="GitHub">
        <span>/wtglover</span>
      </a>
    </div>
    <div class="item-container" id="email">
      <a href="mailto:william.glover@tufts.edu" target="_blank" rel="noopener noreferrer">
        <img src="/images/mail.svg" alt="Email">
        <span>william.glover@tufts.edu</span>
      </a>
    </div>
  </div>
</aside>
