<!DOCTYPE html>
<html>
<head>
  	<title><% if (typeof title !== 'undefined') {%><%-"Toby Glover - " + title%><%} else {%><%-"Toby Glover"%><%} %></title>
  	<meta name="viewport" content="width=device-width, initial-scale=1" />  
	<meta charset="UTF-8">
	<meta name="author" content="Toby Glover">
	<meta name="keywords" content="Tufts, Tufts University, Programmer, Computer Science">
	<meta name="description" content="Personal site for Toby Glover, student at Tufts University's School of Engineering">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans" rel="stylesheet">
    <% if (typeof extensions !== 'undefined') { for (var i = 0; i < extensions.length; i++) { %><%- extensions[i] %><% } } %>
</head>
<body>
    