<%- include ../partials/header %>

<div id="content-wrapper">
    <img src="images/headshot.jpg" id="headshot" alt="profile picture">
</div>

<div id="main-content">
<h1>Toby Glover</h1>
<p id="homepage-description">My name is Toby Glover, I'm a Sophomore in the School of Engineering at Tufts University majoring in Computer Science and minoring in Entreprenuership and Leadership Studies. I previously worked at <a class="link" target="_blank" rel="noopener noreferrer" href="https://switch.tv">Switch Media</a> in Sydney, Australia as a support engineer and server side programmer. I continue to work on backend systems, specializing in building web APIs. Some of my personal projects, along with my resume, can be found below, while the code for the dead ones can be found on GitHub.</p>

<%- include ../partials/nav %>

</div>

<%- include ../partials/footer %>