<%- include ../partials/header-navbar.ejs %>

<div class="main-content">
	<a class="project" href="projects/secretsanta">
		<p class="link"> Secret Santa</p>
		<p>Description</p>
	</a>
	
</div>

<%- include ../partials/footer.ejs %>